<Layouts.app flash={@flash}>
  <div class="h-full w-full p-12 grid grid-cols-12 grid-rows-8">
    <div class="flex flex-col gap-y-3 items-center row-start-6 col-start-8 col-span-4">
      <.form for={@form} phx-submit="create_game">
        <.button variant="primary">Create Game</.button>
      </.form>
      <.button variant="secondary" navigate={~p"/games/join"}>Join Game</.button>
    </div>
  </div>
</Layouts.app>
