<Layouts.app flash={@flash}>
  <div class="w-half w-flex justify-between">
    <button phx-click="a_press">
      <Gamepad.a_button />
    </button>
    <button>
      <Gamepad.b_button />
    </button>
  </div>
</Layouts.app>
