<Layouts.app flash={@flash}>
  <h1>Game {@game_id}</h1>
  <div>
    <h3>Players:</h3>
    <ul>
      <li :for={player <- @players}>{player}</li>
    </ul>
  </div>
  <div>
    <h3>Actions</h3>
    <ul>
      <li :for={action <- @actions}>{action}</li>
    </ul>
  </div>
</Layouts.app>
